1. Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [1]:
import re
str1= "Python Exercises, PHP Exercises."
result= (re.sub("[ ,.]",":",str1))
print(result)

Python:Exercises::PHP:Exercises:

2. Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [29]:
import pandas as pd

dict={'SUMMARY':['hello, world!','XXXX test','123four, five:; six...']}
df=pd.DataFrame(dict)
df['SUMMARY']=df['SUMMARY'].str.replace(r"[,.X:;!\d+]",'',regex=True)
print(df)

         SUMMARY
0    hello world
1           test
2  four five six

3. Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [38]:
text="Python is a case sensitive language."
str_pattern=r"\w{4,}"
regex=re.compile(str_pattern)
result=regex.findall(text)
print(result)

['Python', 'case', 'sensitive', 'language']

In [40]:
text="Python is a case sensitive language. I love learning Python and it is very helpful in Machine Learning."
str_pattern=r"\w{4,}"
regex=re.compile(str_pattern)
result=regex.findall(text)
print(result)

['Python', 'case', 'sensitive', 'language', 'love', 'learning', 'Python', 'very', 'helpful', 'Machine', 'Learning']

4. Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [41]:
str="Ram has three friends,they all play football."
pattern=r"\b\w{3,5}\b"
regex_pattern=re.compile(pattern)
result=regex_pattern.findall(str)
print(result)

['Ram', 'has', 'three', 'they', 'all', 'play']

5. Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [148]:
def r_para(strings):
    pattern = re.compile(r"[()]")
    for i in strings:
        new_strings=re.sub(pattern,'',i)
        print(new_strings)
    return new_strings

strings=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
new_strings=r_para(strings)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

6. Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [150]:
with open('sample_text.txt','r') as file:
    text=file.read()# reading the text file

In [153]:
new_text=re.sub(r'\([^()]*\)','',text)

In [157]:
with open('sample_text.txt','w') as file:
    file.write(new_text)#storing the new file

In [158]:
print(new_text)

["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

7. Write a regular expression in Python to split a string into uppercase letters

In [161]:
Sample_Text="ImportanceOfRegularExpressionsInPython"
pattern=r"([A-Z][^A-Z]*)"
result=re.findall(pattern,Sample_Text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

8. Create a function in python to insert spaces between words starting with numbers.

In [171]:
def spaces(sampletext):
    pattern=r"(\d+)([a-zA-Z]+)"
    result=re.sub(pattern,r' \1\2',sampletext)
    return result

sampletext="RegularExpression1IsAn2ImportantTopic3InPython"
result=spaces(sampletext)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

9. Create a function in python to insert spaces between words starting with capital letters or with numbers.

In [172]:
def spaces(sampletext):
    pattern=r"(\d+)([a-zA-Z]+)"
    result=re.sub(pattern,r' \1 \2',sampletext)
    return result

sampletext="RegularExpression1IsAn2ImportantTopic3InPython"
result=spaces(sampletext)
print(result)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

10. Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [173]:
import pandas as pd

In [174]:
data=pd.read_csv('COUNTRY.csv')
data

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [175]:
df=pd.DataFrame(data)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [180]:
pattern='(\w{6})'
df['first_five_letters']=df['Country'].str.extract(pattern,expand=True)
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

11. Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [182]:
def match(text):
    pattern=r'[A-Za-z0-9_]+$'
    result=re.match(pattern,text)
    if result:
        print("Match Found")

    else:
        print("Not Found")

match("aabbb048_888")
match("YU_B08_gcW")
match("Match Found")

Match Found
Match Found
Not Found

12. Write a Python program where a string will start with a specific number.

In [191]:
def starting_with_numbers(str):
    pattern=re.compile("^2 ")
    if pattern.match(str):
       return True
    else:
        return False

print(starting_with_numbers("234 apples"))
print(starting_with_numbers("5 apples"))

True
False

13. Write a Python program to remove leading zeros from an IP address

In [206]:
IP=input("enter an IP address")
my_ip=re.sub("\.0*",'.',IP)
print(my_ip)

enter an IP address 127.0.0.1

127...1

14. Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [378]:
with open ("India.txt")as file:
  text=file.read() 
  print(text)

On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.

In [401]:
# this question is not solved
pattern=r"\b(January|February|March|April|May|June|July|August|September|October|November|December\s+\d{1,2}st|nd|th|rd?\s+\d{4})\b"
 #print(type(pattern))
matches=re.findall(pattern,text)
for match in matches:
    print(match)
#with open('India.txt','w') as file:
    #file.write(text)

August

In [284]:
# without saving in text file:

In [403]:
text="On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."
pattern=r"\b(January|February|March|April|May|June|July|August|September|October|November|December\s+\d{1,2}st|nd|th|rd?\s+\d{4})\b"
result = re.findall(pattern, text)
for match in result:
    print(match)

August

15. Write a Python program to search some literals strings in a string.

In [404]:
string='The quick brown fox jumps over the lazy dog.'
result=re.search('dog|fox|horse',string)
if result:
    print("match found")

else:
    print("Not found")

match found

16. Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [405]:
string='The quick brown fox jumps over the lazy dog.'
result=re.search('\Wfox\W',string)
if result:
    print("match found,on position:",result.start())

else:
    print("Not found")

match found,on position: 15

17. Write a Python program to find the substrings within a string

In [407]:
Sample_text = 'Python exercises, PHP exercises, C# exercises'
substring='exercises'
result=re.findall(substring,Sample_text)
if result:
    print("Match Found")

else:
    print("Match Not Found")

Match Found

18. Write a Python program to find the occurrence and position of the substrings within a string.

In [300]:
Sample_text = 'Python exercises, PHP exercises, C# exercises'
substring='exercises'
result=re.finditer(substring,Sample_text)
for i in result:
    print(substring.format(substring),'at',i.span())

exercises at (7, 16)
exercises at (22, 31)
exercises at (36, 45)

19. Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [303]:
from datetime import datetime
datetime.strptime('2024-07-06',"%Y-%m-%d").strftime("%d-%m-%Y")

'06-07-2024'

20. Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [322]:
def decimal(str):
    pattern=re.compile(r'\d+\.\d{1,2}')
    result=re.findall(pattern,str)
    return result

In [323]:
x="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
result1=decimal(x)
print(result1)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

21. Write a Python program to separate and print the numbers and their position of a given string.

In [324]:
text="There are 24 oranges on the table."
pattern=r"\d+"
result=re.finditer(pattern,text)
for i in result:
    print(i.group(0))
    print('position:',i.start())

24
position: 10

22. Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [334]:
Sample_Text= 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern=r'\d+'
num=re.findall(pattern,Sample_Text)
print(num)
num=map(int, num)# converts string into number
print('Max Value:',max(num))

['947', '896', '926', '524', '734', '950', '642']
Max Value: 950

23. Create a function in python to insert spaces between words starting with capital letters

In [346]:
def spaces(string):
    pattern=r'([A-Z][a-z]*)'
    result=re.findall(pattern,string)
    print(result)
    print(' '.join(result))

In [348]:
Sample_Text= "RegularExpressionIsAnImportantTopicInPython"
x=spaces(Sample_Text)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']
Regular Expression Is An Important Topic In Python

24. Python regex to find sequences of one upper case letter followed by lower case letters

In [350]:
def match(string):
    pattern=r'[A-Z]+[a-z]+$'
    result=re.search(pattern,string)
    if result:
        return("found")

    else:
        return("not found")

print(match("Abbcc"))
print(match("AAABBB"))

found
not found

25. Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [353]:
def duplicate(str):
  pattern = r'\b(\w+)(\s+\1\b)+'
  result = re.sub(pattern,r'\1',str)
  return result

Sample_Text= "Hello hello world world"
x=duplicate(Sample_Text)
print(x)

Hello hello world

26. Write a python program using RegEx to accept string ending with alphanumeric character.

In [356]:
def string(text):
    pattern=r'\w$'
    result=re.search(pattern,text)
    if result:
        return "Match found"

    else:
        return "not found"

print(string("AABB23"))
print(string("mY name is df45454"))

Match found
Match found

27. Write a python program using RegEx to extract the hashtags.

In [363]:
def hashtags(text):
    hash=re.findall(r'#\w+',text)
    return hash
text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

hash=hashtags(text)
print(hash)

['#Doltiwal', '#xyzabc', '#Demonetization']

28. Write a python program using RegEx to remove <U+..> like symbols

In [365]:
Sample_Text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern=r'<U\+\w{4}>'
result=re.sub(pattern,"",Sample_Text)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

29. Write a python program to extract dates from the text stored in the text file.

In [366]:
with open("ron.txt") as file:
    text=file.read()
    print(text)

 Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

In [367]:
pattern=r"\d{2}-\d{2}-\d{4}"
result=re.findall(pattern,text)
for date in result:
    print(date)

12-09-1992
15-12-1999

30. Create a function in python to remove all words from a string of length between 2 and 4.

In [377]:
def remove_words(string):
    pattern=re.compile(r'\W*\b\w{2,4}\b')
    result=re.sub(pattern,'',string)
    return result

sample_text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
output=remove_words(sample_text)
print(output)

 following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.