Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to
scrape first 10 jobs data.

In [90]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [91]:
driver = webdriver.Chrome()

In [92]:
url = "https://www.shine.com/"
driver.get(url)

In [94]:
# entering designation and location as required in the question
jobtitle=driver.find_element(By.CLASS_NAME,"form-control  ")
jobtitle.send_keys('Data Analyst')
print(jobtitle)

<selenium.webdriver.remote.webelement.WebElement (session="18c221d0510bf6f596c5a5eddd81ca06", element="f.43B4AAE862D2D3983428EDA04A63858E.d.5CE0BBF240F0D65EE63E1F131B2C5CBF.e.36")>

In [96]:
Location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
Location.send_keys("Bangalore")
print(Location)

<selenium.webdriver.remote.webelement.WebElement (session="18c221d0510bf6f596c5a5eddd81ca06", element="f.43B4AAE862D2D3983428EDA04A63858E.d.5CE0BBF240F0D65EE63E1F131B2C5CBF.e.38")>

In [101]:
Search_jobs=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
Search_jobs.click()

In [102]:
# creating variables
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [107]:
title=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in title:
    job_title.append(i.text)

location=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location:
    job_location.append(i.text)


company=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company:
    company_name.append(i.text)

experience=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience:
    experience_required.append(i.text)

In [104]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [105]:
data={'Job_Title':job_title,'Location':job_location,'Company_Name':company_name,'Experience_Required':experience_required}
df=pd.DataFrame(data)
df

,Job_Title,Location,Company_Name,Experience_Required
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8,appsoft solutions,0 to 4 Yrs
1,Data Analyst,Bangalore\n+4,aryan technology,0 to 4 Yrs
2,Healthcare Data Analyst,Bangalore\n+8,spento papers (india) llp,8 to 13 Yrs
3,Senior Data Analyst,Bangalore\n+8,gallagher and mohan private limited,2 to 7 Yrs
4,Urgent Hiring For Data Analyst,Bangalore\n+2,diraa hr services hiring for diraa ...,0 to 4 Yrs
5,Hr Data Analyst,Bangalore,leverage business solutions private...,4 to 8 Yrs
6,Operations Executive ( Data Analyst ),Bangalore\n+2,innovsource services private limite...,1 to 4 Yrs
7,Clinical Data Analyst Ii,Bangalore\n+8,techno endura,0 to 2 Yrs
8,Data Governance Analyst,Bangalore,white horse manpower consultancy (p...,5 to 8 Yrs
9,Data Science Analytics,Bangalore\n+7,mackenzie modern it solutions priva...,5 to 8 Yrs
10,Data Modeler,Bangalore,ntech it solutions private limited,8 to 13 Yrs
11,Lead Data Scientist,Bangalore\n+8,spento papers (india) llp,12 to 22 Yrs
12,Business Analyst openings - Epergne Solutions,Bangalore\n+1,epergne solutions,6 to 12 Yrs
13,"Opening for HR Analytics Power BI, Data Anlytics",Bangalore,personal network.,3 to 8 Yrs
14,Sas Programmer Analyst,Bangalore\n+8,techno endura,0 to 2 Yrs
15,Data Science Analytics,Bangalore\n+7,mackenzie modern it solutions priva...,3 to 8 Yrs
16,Senior Data Engineer,Bangalore,i-vintage solutions pvt. ltd.,7 to 9 Yrs
17,Business Intelligence Analyst,Bangalore\n+9,traab engineering india private lim...,15 to >25 Yrs
18,Google Data Engineer,Bangalore\n+9,integrated personnel services limit...,4 to 9 Yrs
19,Data Engineer with Greenplum or PostgreSQL Dat...,Bangalore,i-vintage solutions pvt. ltd.,5 to 8 Yrs

In [109]:
final=df.iloc[0:10]

,Job_Title,Location,Company_Name,Experience_Required
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8,appsoft solutions,0 to 4 Yrs
1,Data Analyst,Bangalore\n+4,aryan technology,0 to 4 Yrs
2,Healthcare Data Analyst,Bangalore\n+8,spento papers (india) llp,8 to 13 Yrs
3,Senior Data Analyst,Bangalore\n+8,gallagher and mohan private limited,2 to 7 Yrs
4,Urgent Hiring For Data Analyst,Bangalore\n+2,diraa hr services hiring for diraa ...,0 to 4 Yrs
5,Hr Data Analyst,Bangalore,leverage business solutions private...,4 to 8 Yrs
6,Operations Executive ( Data Analyst ),Bangalore\n+2,innovsource services private limite...,1 to 4 Yrs
7,Clinical Data Analyst Ii,Bangalore\n+8,techno endura,0 to 2 Yrs
8,Data Governance Analyst,Bangalore,white horse manpower consultancy (p...,5 to 8 Yrs
9,Data Science Analytics,Bangalore\n+7,mackenzie modern it solutions priva...,5 to 8 Yrs

Q2: Write a python program to scrape data for ““Data Scientist” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to
scrape first 10 jobs data.

In [168]:
driver=webdriver.Chrome()

In [169]:
driver.get(" https://www.naukri.com/")

In [170]:
# entering designation and location as required in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')
print(designation)

<selenium.webdriver.remote.webelement.WebElement (session="6335845a7e0257ab747fa47af9ce6e0f", element="f.9791BB7FA719F1FAB7DBAA216F9FE7FE.d.FBF9803196AC6EB87BC6009ED0E9A5DC.e.2")>

In [171]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")
print(location)

<selenium.webdriver.remote.webelement.WebElement (session="6335845a7e0257ab747fa47af9ce6e0f", element="f.9791BB7FA719F1FAB7DBAA216F9FE7FE.d.FBF9803196AC6EB87BC6009ED0E9A5DC.e.4")>

In [172]:
Search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
Search.click()

In [195]:
# creating variables
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [196]:
title=driver.find_elements(By.XPATH,'//div[@class=" row1"]')
for i in title:
    job_title.append(i.text)

location=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location:
    job_location.append(i.text)

company=driver.find_elements(By.XPATH,'//span[@class=" comp-dtls-wrap"]/a')
for i in company:
    company_name.append(i.text)

df1=pd.DataFrame(company_name)
cn=df1.iloc[:20]

experience=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience:
    experience_required.append(i.text)

In [197]:
print(len(job_title),len(job_location),len(c),len(experience_required))

20 20 20 20

In [198]:
data={'Job_Title':job_title,'Location':job_location,'Company_Name':cn,'Experience_Required':experience_required}
df=pd.DataFrame(data)
print(df)

ValueError: 2

Q3: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price

In [206]:
driver = webdriver.Chrome()

In [207]:
driver.get("https://www.flipkart.com/")

In [208]:
product = driver.find_element(By.CLASS_NAME,"Pke_EE")
product.send_keys("sunglasses")
print(product)

<selenium.webdriver.remote.webelement.WebElement (session="980e92830500a712978f67de4c382ae3", element="f.7A1EC6F6FF0E1512C726F3F34D1AB741.d.98D9BDAB665BAE128A80C11F8D398292.e.28")>

In [209]:
search = driver.find_element(By.CLASS_NAME,"MJG8Up")
search.click()

In [203]:
brand=[]
details=[]
price=[]

In [215]:
brands=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
for i in brands:
    brand.append(i.text)

detail=driver.find_elements(By.XPATH,'//div[@class="WKTcLC BwBZTg"]')
for i in detail:
    details.append(i.text)

prices=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
for i in prices:
    price.append(i.text)

In [213]:
print(len(brand),len(details),len(price))

80 1 80

In [214]:
data={"Brand":brand,"Price":price}
df=pd.DataFrame(data)
df

            Brand   Price
0          OCHILA    ₹247
1    Being Better    ₹191
2        Fastrack    ₹603
3   VINCENT CHASE    ₹681
4        Fastrack    ₹549
..            ...     ...
75        Ray-Ban  ₹6,379
76         VOYAGE    ₹699
77       elegante    ₹352
78       Fastrack    ₹809
79        Sunveil    ₹399

[80 rows x 2 columns]