Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to
scrape first 10 jobs data.

In [229]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [230]:
driver = webdriver.Chrome()

In [231]:
url = "https://www.shine.com/"
driver.get(url)

In [232]:
# entering designation and location as required in the question
jobtitle=driver.find_element(By.CLASS_NAME,"form-control  ")
jobtitle.send_keys('Data Analyst')
print(jobtitle)

<selenium.webdriver.remote.webelement.WebElement (session="d3de4afec49acddecb74b7f41a273d96", element="f.36BB05D5E3247107EE78682960326173.d.8567D2C5B391A1ACE67CB61CB23E3563.e.36")>

In [234]:
Location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
Location.send_keys("Bangalore")
print(Location)

<selenium.webdriver.remote.webelement.WebElement (session="d3de4afec49acddecb74b7f41a273d96", element="f.36BB05D5E3247107EE78682960326173.d.8567D2C5B391A1ACE67CB61CB23E3563.e.38")>

In [236]:
Search_jobs=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
Search_jobs.click()

In [237]:
# creating variables
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [107]:
title=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in title:
    job_title.append(i.text)

location=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location:
    job_location.append(i.text)


company=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company:
    company_name.append(i.text)

experience=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience:
    experience_required.append(i.text)

In [104]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [105]:
data={'Job_Title':job_title,'Location':job_location,'Company_Name':company_name,'Experience_Required':experience_required}
df=pd.DataFrame(data)
df

,Job_Title,Location,Company_Name,Experience_Required
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8,appsoft solutions,0 to 4 Yrs
1,Data Analyst,Bangalore\n+4,aryan technology,0 to 4 Yrs
2,Healthcare Data Analyst,Bangalore\n+8,spento papers (india) llp,8 to 13 Yrs
3,Senior Data Analyst,Bangalore\n+8,gallagher and mohan private limited,2 to 7 Yrs
4,Urgent Hiring For Data Analyst,Bangalore\n+2,diraa hr services hiring for diraa ...,0 to 4 Yrs
5,Hr Data Analyst,Bangalore,leverage business solutions private...,4 to 8 Yrs
6,Operations Executive ( Data Analyst ),Bangalore\n+2,innovsource services private limite...,1 to 4 Yrs
7,Clinical Data Analyst Ii,Bangalore\n+8,techno endura,0 to 2 Yrs
8,Data Governance Analyst,Bangalore,white horse manpower consultancy (p...,5 to 8 Yrs
9,Data Science Analytics,Bangalore\n+7,mackenzie modern it solutions priva...,5 to 8 Yrs
10,Data Modeler,Bangalore,ntech it solutions private limited,8 to 13 Yrs
11,Lead Data Scientist,Bangalore\n+8,spento papers (india) llp,12 to 22 Yrs
12,Business Analyst openings - Epergne Solutions,Bangalore\n+1,epergne solutions,6 to 12 Yrs
13,"Opening for HR Analytics Power BI, Data Anlytics",Bangalore,personal network.,3 to 8 Yrs
14,Sas Programmer Analyst,Bangalore\n+8,techno endura,0 to 2 Yrs
15,Data Science Analytics,Bangalore\n+7,mackenzie modern it solutions priva...,3 to 8 Yrs
16,Senior Data Engineer,Bangalore,i-vintage solutions pvt. ltd.,7 to 9 Yrs
17,Business Intelligence Analyst,Bangalore\n+9,traab engineering india private lim...,15 to >25 Yrs
18,Google Data Engineer,Bangalore\n+9,integrated personnel services limit...,4 to 9 Yrs
19,Data Engineer with Greenplum or PostgreSQL Dat...,Bangalore,i-vintage solutions pvt. ltd.,5 to 8 Yrs

In [109]:
final=df.iloc[0:10]

,Job_Title,Location,Company_Name,Experience_Required
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8,appsoft solutions,0 to 4 Yrs
1,Data Analyst,Bangalore\n+4,aryan technology,0 to 4 Yrs
2,Healthcare Data Analyst,Bangalore\n+8,spento papers (india) llp,8 to 13 Yrs
3,Senior Data Analyst,Bangalore\n+8,gallagher and mohan private limited,2 to 7 Yrs
4,Urgent Hiring For Data Analyst,Bangalore\n+2,diraa hr services hiring for diraa ...,0 to 4 Yrs
5,Hr Data Analyst,Bangalore,leverage business solutions private...,4 to 8 Yrs
6,Operations Executive ( Data Analyst ),Bangalore\n+2,innovsource services private limite...,1 to 4 Yrs
7,Clinical Data Analyst Ii,Bangalore\n+8,techno endura,0 to 2 Yrs
8,Data Governance Analyst,Bangalore,white horse manpower consultancy (p...,5 to 8 Yrs
9,Data Science Analytics,Bangalore\n+7,mackenzie modern it solutions priva...,5 to 8 Yrs

Q2: Write a python program to scrape data for ““Data Scientist” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to
scrape first 10 jobs data.

In [315]:
driver=webdriver.Chrome()

In [316]:
driver.get(" https://www.naukri.com/")

In [317]:
# entering designation and location as required in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')
print(designation)

<selenium.webdriver.remote.webelement.WebElement (session="4ad79c8477f1027b06e3cb9c45404ff3", element="f.2E7A93144B66275735C0694551756863.d.C02880C6D29F46543A54DC679ABD33D3.e.3")>

In [318]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")
print(location)

<selenium.webdriver.remote.webelement.WebElement (session="4ad79c8477f1027b06e3cb9c45404ff3", element="f.2E7A93144B66275735C0694551756863.d.C02880C6D29F46543A54DC679ABD33D3.e.5")>

In [319]:
Search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
Search.click()

In [320]:
# creating variables
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [321]:
title=driver.find_elements(By.XPATH,'//div[@class=" row1"]')
for i in title:
    job_title.append(i.text)

job_title[:10]

location=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location:
    job_location.append(i.text)
job_location[:10]
company=driver.find_elements(By.XPATH,'//span[@class=" comp-dtls-wrap"]/a')
for i in company:
    company_name.append(i.text)

company_name[:10]

# df1=pd.DataFrame(company_name)
# cn=df1.iloc[:20]

experience=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience:
    experience_required.append(i.text)

experience_required[:10]

['0-5 Yrs',
 '3-6 Yrs',
 '1-4 Yrs',
 '3-8 Yrs',
 '5-8 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '1-5 Yrs',
 '4-6 Yrs',
 '1-3 Yrs']

In [322]:
print(len(job_title[:10]),len(job_location[:10]),len(company_name[:10]),len(experience_required[:10]))

10 10 10 10

In [325]:
data={'Job_Title':job_title[:10],'Location':job_location[:10],'Company_Name':company_name[:10],'Experience_Required':experience_required[:10]}
df=pd.DataFrame(data)
df

,Job_Title,Location,Company_Name,Experience_Required
0,Data Analyst,Bengaluru(Yelahanka New Town),SustainZone Tech Solutions,0-5 Yrs
1,Data Analyst - Python/Hadoop,Bengaluru,Sadup Softech,3-6 Yrs
2,Staff Data Analyst,Bengaluru,4.6,1-4 Yrs
3,Data Analyst,"Hybrid - Chennai, Bengaluru, Delhi / NCR",24 Reviews,3-8 Yrs
4,Python Developer Data Analyst,Bengaluru,Quince Corporate Services,5-8 Yrs
5,Data Analyst,Bengaluru,Torry Harris Business Solutions,2-5 Yrs
6,WFM Data Analyst,Bengaluru,3.9,3-8 Yrs
7,Data Analyst,Bengaluru,413 Reviews,1-5 Yrs
8,AWS Data Analyst,Bengaluru,Loyalytics,4-6 Yrs
9,Data Analyst,Bengaluru,4.1,1-3 Yrs

Q3: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price

In [293]:
driver=webdriver.Chrome()

In [294]:
driver.get("https://www.flipkart.com/")

In [295]:
search=driver.find_element(By.XPATH,'//input[@class="Pke_EE"]')
search

In [296]:
search.send_keys('sunglasses')

In [297]:
search_but=driver.find_element(By.XPATH,'//button[@class="MJG8Up"]')
search_but

In [298]:
search_but=driver.find_element(By.CLASS_NAME,"MJG8Up")
search_but.click()

In [303]:
Brand_name=[]
Price=[]
Description=[]
Discount=[]

In [310]:
for i in range(3):
    brand_name=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
    price=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
    description=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    discount=driver.find_elements(By.XPATH,'//div[@class="UkUFwK"]')

    for i in brand_name:
        Brand_name.append(i.text)

    Brand_name[:100]

    for i in price:
        Price.append(i.text)

    Price[:100]

    for i in description:
        Description.append(i.text)

    Description[:100]

    for i in discount:
        Discount.append(i.text)

    Discount[:100]

In [312]:
print(len(Brand_name[:100]),len(Price[:100]),len(Description[:100]),len(Discount[:100]))

100 100 81 100

In [313]:
data={'Brand_Name':Brand_name[:100],'Product_price':Price[:100],'Discount%':Discount[:100]}
df=pd.DataFrame(data)
df

         Brand_Name Product_price Discount%
0   Lenskart STUDIO        ₹1,799   48% off
1   Lenskart STUDIO        ₹1,799   48% off
2          Fastrack          ₹759   30% off
3     VINCENT CHASE          ₹548   72% off
4          Fastrack          ₹739   26% off
..              ...           ...       ...
95    VINCENT CHASE          ₹709   64% off
96           Hooper          ₹599   70% off
97    VINCENT CHASE        ₹1,259   37% off
98           Hooper        ₹1,199   40% off
99           Dervin          ₹247   83% off

[100 rows x 3 columns]