1. Scrape the details of most viewed videos on YouTube from Wikipedia:

In [541]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotInteractableException
import re
import requests
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [80]:
# opening the chrome
driver=webdriver.Chrome()

In [81]:
# opening the website
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [82]:
Rank=[]
Name=[]
Artist=[]
Views=[]
Date=[]

In [87]:
#Scrapping the Name
try:
    name=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in name:
        Name.append(i.text)

except NoSuchElementException:
    Name.append("Not Present")

Name

['"Baby Shark Dance"[7]',
 '"Despacito"[10]',
 '"Johny Johny Yes Papa"[18]',
 '"Bath Song"[19]',
 '"Wheels on the Bus"[20]',
 '"See You Again"[21]',
 '"Shape of You"[26]',
 '"Phonics Song with Two Words"[29]',
 '"Uptown Funk"[30]',
 '"Gangnam Style"[31]',
 '"Learning Colors – Colorful Eggs on a Farm"[36]',
 '"Dame Tu Cosita"[37]',
 '"Axel F"[38]',
 '"Masha and the Bear – Recipe for Disaster"[39]',
 '"Baa Baa Black Sheep"[40]',
 '"Lakdi Ki Kathi"[41]',
 '"Sugar"[42]',
 '"Counting Stars"[43]',
 '"Roar"[44]',
 '"Waka Waka (This Time for Africa)"[45]',
 '"Shree Hanuman Chalisa"[46]',
 '"Humpty the train on a fruits ride"[47]',
 '"Sorry"[48]',
 '"Thinking Out Loud"[49]',
 '"Perfect"[50]',
 '"Dark Horse"[51]',
 '"Let Her Go"[52]',
 '"Faded"[53]',
 '"Girls Like You"[54]',
 '"Lean On"[55]']

In [88]:
# Scrapping the artist
try:
    artist=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in artist:
        Artist.append(i.text)

except NoSuchElementException:
    Artist.append("Not Present")

Artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 "LooLoo Kids - Nursery Rhymes and Children's Songs",
 'Cocomelon - Nursery Rhymes',
 'Cocomelon - Nursery Rhymes',
 'Wiz Khalifa',
 'Ed Sheeran',
 'ChuChu TV Nursery Rhymes & Kids Songs',
 'Mark Ronson',
 'Psy',
 'Miroshka TV',
 'Ultra Records',
 'Crazy Frog',
 'Get Movies',
 'Cocomelon - Nursery Rhymes',
 'Jingle Toons',
 'Maroon 5',
 'OneRepublic',
 'Katy Perry',
 'Shakira',
 'T-Series Bhakti Sagar',
 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs',
 'Justin Bieber',
 'Ed Sheeran',
 'Ed Sheeran',
 'Katy Perry',
 'Passenger',
 'Alan Walker',
 'Maroon 5',
 'Major Lazer Official']

In [89]:
# Scrapping the views
try:
    views=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[3]')
    for i in views:
        Views.append(i.text)

except NoSuchElementException:
    Views.append("Not Present")

Views

['15.09',
 '8.54',
 '6.95',
 '6.85',
 '6.56',
 '6.40',
 '6.33',
 '6.00',
 '5.33',
 '5.29',
 '5.15',
 '4.74',
 '4.69',
 '4.60',
 '4.17',
 '4.13',
 '4.09',
 '4.05',
 '4.03',
 '4.01',
 '3.97',
 '3.89',
 '3.84',
 '3.79',
 '3.78',
 '3.77',
 '3.70',
 '3.67',
 '3.65',
 '3.65']

In [90]:
# Scrapping the date of video upload
try:
    date=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[4]')
    for i in date:
        Date.append(i.text)

except NoSuchElementException:
    Date.append("Not Present")

Date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'May 24, 2018',
 'April 6, 2015',
 'January 30, 2017',
 'March 6, 2014',
 'November 19, 2014',
 'July 15, 2012',
 'February 27, 2018',
 'April 5, 2018',
 'June 16, 2009',
 'January 31, 2012',
 'June 25, 2018',
 'June 14, 2018',
 'January 14, 2015',
 'May 31, 2013',
 'September 5, 2013',
 'June 4, 2010',
 'May 10, 2011',
 'January 26, 2018',
 'October 22, 2015',
 'October 7, 2014',
 'November 9, 2017',
 'February 20, 2014',
 'July 25, 2012',
 'December 3, 2015',
 'May 31, 2018',
 'March 22, 2015']

In [91]:
Yt=pd.DataFrame({"Video_Name":Name,"Uploader":Artist,"Views_In_Billions":Views,"Video_Upload_Date":Date})
Yt

,Video_Name,Uploader,Views_In_Billions,Video_Upload_Date
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,15.09,"June 17, 2016"
1,"""Despacito""[10]",Luis Fonsi,8.54,"January 12, 2017"
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.95,"October 8, 2016"
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,6.85,"May 2, 2018"
4,"""Wheels on the Bus""[20]",Cocomelon - Nursery Rhymes,6.56,"May 24, 2018"
5,"""See You Again""[21]",Wiz Khalifa,6.40,"April 6, 2015"
6,"""Shape of You""[26]",Ed Sheeran,6.33,"January 30, 2017"
7,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,6.00,"March 6, 2014"
8,"""Uptown Funk""[30]",Mark Ronson,5.33,"November 19, 2014"
9,"""Gangnam Style""[31]",Psy,5.29,"July 15, 2012"
10,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,5.15,"February 27, 2018"
11,"""Dame Tu Cosita""[37]",Ultra Records,4.74,"April 5, 2018"
12,"""Axel F""[38]",Crazy Frog,4.69,"June 16, 2009"
13,"""Masha and the Bear – Recipe for Disaster""[39]",Get Movies,4.60,"January 31, 2012"
14,"""Baa Baa Black Sheep""[40]",Cocomelon - Nursery Rhymes,4.17,"June 25, 2018"
15,"""Lakdi Ki Kathi""[41]",Jingle Toons,4.13,"June 14, 2018"
16,"""Sugar""[42]",Maroon 5,4.09,"January 14, 2015"
17,"""Counting Stars""[43]",OneRepublic,4.05,"May 31, 2013"
18,"""Roar""[44]",Katy Perry,4.03,"September 5, 2013"
19,"""Waka Waka (This Time for Africa)""[45]",Shakira,4.01,"June 4, 2010"
20,"""Shree Hanuman Chalisa""[46]",T-Series Bhakti Sagar,3.97,"May 10, 2011"
21,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.89,"January 26, 2018"
22,"""Sorry""[48]",Justin Bieber,3.84,"October 22, 2015"
23,"""Thinking Out Loud""[49]",Ed Sheeran,3.79,"October 7, 2014"
24,"""Perfect""[50]",Ed Sheeran,3.78,"November 9, 2017"
25,"""Dark Horse""[51]",Katy Perry,3.77,"February 20, 2014"
26,"""Let Her Go""[52]",Passenger,3.70,"July 25, 2012"
27,"""Faded""[53]",Alan Walker,3.67,"December 3, 2015"
28,"""Girls Like You""[54]",Maroon 5,3.65,"May 31, 2018"
29,"""Lean On""[55]",Major Lazer Official,3.65,"March 22, 2015"

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [361]:
# Opening the Chrome browser
driver=webdriver.Chrome()

In [362]:
# Opening the URL in the browser
driver.get("https://www.bcci.tv/")
time.sleep(5)

In [363]:
button=driver.find_element(By.XPATH,'//a[@class="moreMatchesLink"]')
driver.get(button.get_attribute("href"))

In [364]:
result=driver.find_element(By.XPATH,'//div[@class="tab-link upcoming"]')
result.click()

In [365]:
time.sleep(5)

In [366]:
URL=[]
for i in range(0,2):
    url=driver.find_elements(By.XPATH,'//div[@class="match-card-bottom"]/a')
    for i in url:
        URL.append(i.get_attribute("href"))

    more_matches=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[2]/div/button')

In [367]:
len(URL)

10

In [368]:
URL

['https://www.bcci.tv/events/188/icc-womens-t20-world-cup-warm-up-matches-2024/match/1678/warm-up-practice-match?platform=international&type=men',
 'https://www.bcci.tv/events/313/australia-u19-tour-of-india-multiday-series/match/15437/youth-first-class-match?platform=international&type=men',
 'https://www.bcci.tv/events/188/icc-womens-t20-world-cup-warm-up-matches-2024/match/1679/warm-up-practice-match?platform=international&type=men',
 'https://www.bcci.tv/events/153/icc-womens-t20-world-cup-2024/match/1494/t20i?platform=international&type=men',
 'https://www.bcci.tv/events/162/bangladesh-tour-of-india-t20-series-2024/match/1567/1st-t20i?platform=international&type=men',
 'https://www.bcci.tv/events/188/icc-womens-t20-world-cup-warm-up-matches-2024/match/1678/warm-up-practice-match?platform=international&type=men',
 'https://www.bcci.tv/events/313/australia-u19-tour-of-india-multiday-series/match/15437/youth-first-class-match?platform=international&type=men',
 'https://www.bcci.tv/events/188/icc-womens-t20-world-cup-warm-up-matches-2024/match/1679/warm-up-practice-match?platform=international&type=men',
 'https://www.bcci.tv/events/153/icc-womens-t20-world-cup-2024/match/1494/t20i?platform=international&type=men',
 'https://www.bcci.tv/events/162/bangladesh-tour-of-india-t20-series-2024/match/1567/1st-t20i?platform=international&type=men']

In [369]:
Series=[]
Place=[]
Date=[]
Time=[]

In [371]:
for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
    Series.append(i.text)

In [372]:
Series

['ICC Womens T20 World Cup Warm Up Matches 2024',
 'Australia U19 Tour of India Multiday Series',
 'ICC Womens T20 World Cup Warm Up Matches 2024',
 'ICC Womens T20 World Cup 2024',
 'Bangladesh Tour of India T20 Series 2024']

In [373]:
for i in driver.find_elements(By.XPATH,'//div[@class="match-venue ng-scope"]'):
    Place.append(i.text)

Place

['ICC Academy Ground No 2, Dubai',
 'M A Chidambaram Stadium, Chennai',
 'ICC Academy Ground, Dubai',
 'Dubai International Cricket Stadium, Dubai',
 'Shrimant Madhavrao Scindia Cricket Stadium, Gwalior']

In [374]:
for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
    Date.append(i.text)

Date

['29 Sep', '30 Sep', '1 Oct', '4 Oct', '6 Oct']

In [375]:
for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
    Time.append(i.text)

Time

['19:30 IST', '9:30 IST', '19:30 IST', '19:30 IST', '19:00 IST']

In [376]:
data={"Series_Name":Series,"Place":Place,"Date_Of_Match":Date,"Time":Time}
df=pd.DataFrame(data)
df

,Series_Name,Place,Date_Of_Match,Time
0,ICC Womens T20 World Cup Warm Up Matches 2024,"ICC Academy Ground No 2, Dubai",29 Sep,19:30 IST
1,Australia U19 Tour of India Multiday Series,"M A Chidambaram Stadium, Chennai",30 Sep,9:30 IST
2,ICC Womens T20 World Cup Warm Up Matches 2024,"ICC Academy Ground, Dubai",1 Oct,19:30 IST
3,ICC Womens T20 World Cup 2024,"Dubai International Cricket Stadium, Dubai",4 Oct,19:30 IST
4,Bangladesh Tour of India T20 Series 2024,"Shrimant Madhavrao Scindia Cricket Stadium, Gw...",6 Oct,19:00 IST

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [403]:
driver=webdriver.Chrome()

In [404]:
driver.get("http://statisticstimes.com/")

In [405]:
economy=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/div/a[3]')
try:
    economy.click()

except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))

time.sleep(2)

In [406]:
#indian state gdp
state=driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]/a')
try:
    state.click()

except ElementNotInteractableException:
    driver.get(state.get_attribute('href'))

time.sleep(2)

In [407]:
Rank=[]
State=[]
Gsdp_18_19=[]
Gsdp_19_20=[]
Share_18_19=[]
Gdp_at_billion=[]

In [408]:
try:
    rank=driver.find_elements(By.XPATH,'//table[@id="table_id1"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)

except NoSuchElementException:
    Rank.append("NA")

Rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [409]:
try:
    state=driver.find_elements(By.XPATH,'//table[@id="table_id1"]/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)

except NoSuchElementException:
    State.append("NA")

State

['Maharashtra',
 'Tamil Nadu',
 'Karnataka',
 'Uttar Pradesh',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Odisha',
 'Punjab',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Manipur',
 'Sikkim',
 'Arunachal Pradesh',
 'Nagaland',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [411]:
try:
    gs18=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[10]')
    for i in gs18:
        Gsdp_18_19.append(i.text)

except NoSuchElementException:
    Gsdp_18_19.append("NA")

Gsdp_18_19

['2,027,971',
 '1,343,287',
 '1,235,377',
 '1,200,093',
 '1,365,922',
 '787,439',
 '727,805',
 '722,727',
 '669,229',
 '584,470',
 '578,057',
 '580,396',
 '544,317',
 '430,541',
 '399,930',
 '434,261',
 '278,835',
 '280,609',
 '243,348',
 '184,274',
 '119,174',
 '124,770',
 '55,342',
 '39,487',
 '30,587',
 '27,131',
 '24,267',
 '20,728',
 '20,515',
 '19,707',
 '17,336',
 '18,494',
 '7,172']

In [412]:
try:
    gs19=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in gs19:
        Gsdp_19_20.append(i.text)

except NoSuchElementException:
    Gsdp_19_20.append("NA")

Gsdp_19_20

['3,108,022',
 '2,071,286',
 '1,978,094',
 '1,975,595',
 '1,928,683',
 '1,329,238',
 '1,193,489',
 '1,148,471',
 '1,124,204',
 '1,092,964',
 '934,542',
 '881,336',
 '868,905',
 '662,886',
 '650,302',
 '617,192',
 '411,454',
 '410,525',
 '358,863',
 '267,143',
 '193,352',
 '172,162',
 '84,266',
 '62,550',
 '46,096',
 '43,810',
 '38,785',
 '37,557',
 '36,594',
 '34,775',
 '31,038',
 '27,824',
 '10,371']

In [413]:
try:
    share=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in share:
        Share_18_19.append(i.text)

except NoSuchElementException:
    Share_18_19.append("NA")

Share_18_19

['13.17%',
 '8.78%',
 '8.38%',
 '8.37%',
 '8.17%',
 '5.63%',
 '5.06%',
 '4.87%',
 '4.76%',
 '4.63%',
 '3.96%',
 '3.73%',
 '3.68%',
 '2.81%',
 '2.76%',
 '2.62%',
 '1.74%',
 '1.74%',
 '1.52%',
 '1.13%',
 '0.82%',
 '0.73%',
 '0.36%',
 '0.27%',
 '0.20%',
 '0.19%',
 '0.16%',
 '0.16%',
 '0.16%',
 '0.15%',
 '0.13%',
 '0.12%',
 '0.04%']

In [415]:
try:
    gdp=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[7]')
    for i in gdp:
        Gdp_at_billion.append(i.text)

except NoSuchElementException:
    Gdp_at_billion.append("NA")

Gdp_at_billion

['414.928',
 '276.522',
 '264.080',
 '263.747',
 '257.484',
 '177.456',
 '159.334',
 '153.324',
 '150.084',
 '145.913',
 '124.764',
 '117.660',
 '116.001',
 '88.497',
 '86.817',
 '82.397',
 '54.930',
 '54.806',
 '47.909',
 '35.664',
 '25.813',
 '22.984',
 '11.250',
 '8.351',
 '6.154',
 '5.849',
 '5.178',
 '5.014',
 '4.885',
 '4.643',
 '4.144',
 '3.715',
 '1.385']

In [416]:
data={"Rank":Rank,
"State":State,
"Gsdp_18_19":Gsdp_18_19,
"Gsdp_19_20":Gsdp_19_20,
"Share_18_19":Share_18_19,
"Gdp_at_billion":Gdp_at_billion}
df=pd.DataFrame(data)
df

,Rank,State,Gsdp_18_19,Gsdp_19_20,Share_18_19,Gdp_at_billion
0,1,Maharashtra,"2,027,971","3,108,022",13.17%,414.928
1,2,Tamil Nadu,"1,343,287","2,071,286",8.78%,276.522
2,3,Karnataka,"1,235,377","1,978,094",8.38%,264.080
3,4,Uttar Pradesh,"1,200,093","1,975,595",8.37%,263.747
4,5,Gujarat,"1,365,922","1,928,683",8.17%,257.484
5,6,West Bengal,"787,439","1,329,238",5.63%,177.456
6,7,Rajasthan,"727,805","1,193,489",5.06%,159.334
7,8,Andhra Pradesh,"722,727","1,148,471",4.87%,153.324
8,9,Telangana,"669,229","1,124,204",4.76%,150.084
9,10,Madhya Pradesh,"584,470","1,092,964",4.63%,145.913
10,11,Kerala,"578,057","934,542",3.96%,124.764
11,12,Delhi,"580,396","881,336",3.73%,117.660
12,13,Haryana,"544,317","868,905",3.68%,116.001
13,14,Bihar,"430,541","662,886",2.81%,88.497
14,15,Odisha,"399,930","650,302",2.76%,86.817
15,16,Punjab,"434,261","617,192",2.62%,82.397
16,17,Assam,"278,835","411,454",1.74%,54.930
17,18,Chhattisgarh,"280,609","410,525",1.74%,54.806
18,19,Jharkhand,"243,348","358,863",1.52%,47.909
19,20,Uttarakhand,"184,274","267,143",1.13%,35.664
20,21,Jammu & Kashmir,"119,174","193,352",0.82%,25.813
21,22,Himachal Pradesh,"124,770","172,162",0.73%,22.984
22,23,Goa,"55,342","84,266",0.36%,11.250
23,24,Tripura,"39,487","62,550",0.27%,8.351
24,25,Chandigarh,"30,587","46,096",0.20%,6.154
25,26,Puducherry,"27,131","43,810",0.19%,5.849
26,27,Meghalaya,"24,267","38,785",0.16%,5.178
27,28,Manipur,"20,728","37,557",0.16%,5.014
28,29,Sikkim,"20,515","36,594",0.16%,4.885
29,30,Arunachal Pradesh,"19,707","34,775",0.15%,4.643
30,31,Nagaland,"17,336","31,038",0.13%,4.144
31,32,Mizoram,"18,494","27,824",0.12%,3.715
32,33,Andaman & Nicobar Islands,"7,172","10,371",0.04%,1.385

4.Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used 
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [467]:
driver=webdriver.Chrome()

In [468]:
driver.get("https://github.com/")

In [469]:
time.sleep(1)

In [472]:
dots=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[1]/button/span')
dots.click()

In [473]:
open_source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]/button')
open_source.click()

In [474]:
# reaching the trending option
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]/div/div[3]/ul/li[2]/a')
trending.click()

In [475]:
# creating empty variables
Repository_Title=[]
Repository_Description=[]
Contributors_Count=[]
Language_Used=[]

In [477]:
# SCRAPING URL's
URL=[]
url=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in url:
    URL.append(i.get_attribute('href'))

URL

['https://github.com/immich-app/immich',
 'https://github.com/srush/GPU-Puzzles',
 'https://github.com/meta-llama/llama-recipes',
 'https://github.com/localsend/localsend',
 'https://github.com/meta-llama/llama-stack',
 'https://github.com/meta-llama/llama-stack-apps',
 'https://github.com/anthropics/anthropic-cookbook',
 'https://github.com/Yonom/assistant-ui',
 'https://github.com/DiceDB/dice',
 'https://github.com/src-d/hercules',
 'https://github.com/kestra-io/kestra',
 'https://github.com/AykutSarac/jsoncrack.com',
 'https://github.com/Azure/azure-sdk-for-net',
 'https://github.com/systeminit/si',
 'https://github.com/angular/angular',
 'https://github.com/statamic/cms',
 'https://github.com/tw93/Pake',
 'https://github.com/meta-llama/llama-models']

In [478]:
len(URL)

18

In [479]:
try:
    title=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
    for i in title:
       Repository_Title.append(i.text)
except NoSuchElementException:
    Repository_Title.append("Not Mentioned")

len(Repository_Title)

18

In [480]:
for i in URL:
    driver.get(i)
    time.sleep(2)
    #Scraping description
    try:
        des=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[1]/react-partial/div/div/div[3]/div[2]/div/div[2]/article/p[3]')
        Repository_Description.append(des.text)

    except NoSuchElementException:
        Repository_Description.append("Not Mentioned")

    # Scrapping Count
    try:
        count=driver.find_element(By.XPATH,"//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Contributors_Count.append(count.text)

    except NoSuchElementException:
        Contributors_Count.append("Not Mentioned")

    # Scrapping Language Used
    try:
        lang=driver.find_element(By.XPATH,"//li[@class='d-inline']//a//span[1]")
        Language_Used.append(lang.text)

    except NoSuchElementException:
        Language_Used.append("Not Mentioned")

In [481]:
data={"Repository_Title":Repository_Title,
"Repository_Description":Repository_Description,
"Contributors_Count":Contributors_Count,
"Language_Used":Language_Used}
df=pd.DataFrame(data)
df

,Repository_Title,Repository_Description,Contributors_Count,Language_Used
0,immich-app / immich,,777,TypeScript
1,srush / GPU-Puzzles,This notebook is an attempt to teach beginner ...,4,Jupyter Notebook
2,meta-llama / llama-recipes,If you want to use PyTorch nightlies instead o...,81,Jupyter Notebook
3,localsend / localsend,English • 中文 • 日本語 • ภาษาไทย • Filipino • Pols...,149,Dart
4,meta-llama / llama-stack,The Llama Stack defines and standardizes the b...,26,Python
5,meta-llama / llama-stack-apps,An agentic app requires a few components:,18,Python
6,anthropics / anthropic-cookbook,While the code examples are primarily written ...,28,Jupyter Notebook
7,Yonom / assistant-ui,"Wide model provider support (OpenAI, Anthropic...",12,TypeScript
8,DiceDB / dice,We have multiple repositories where you can co...,92,Go
9,src-d / hercules,Overview • How To Use • Installation • Contrib...,20,Go
10,kestra-io / kestra,,59,Java
11,AykutSarac / jsoncrack.com,,29,TypeScript
12,Azure / azure-sdk-for-net,"To get started with a library, see the README....","1,650",C#
13,systeminit / si,System Initiative is the future of DevOps Auto...,29,Rust
14,angular / angular,Contributing Guidelines · Submit an Issue · Blog,"1,977",TypeScript
15,statamic / cms,Statamic has extensive documentation. We dedic...,284,PHP
16,tw93 / Pake,,36,Rust
17,meta-llama / llama-models,"Llama is an accessible, open large language mo...",22,Python

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [495]:
driver=webdriver.Chrome()

In [496]:
driver.get("https:/www.billboard.com/")

In [498]:
# opening the menu
dots=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
dots.click()

In [499]:
# opening the charts submenu
charts=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a')
charts.click()

In [500]:
# from charts opening hot 100
hot100=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a')
hot100.click()

In [501]:
# creating empty variables
Song_Name=[]
Artist_Name=[]
Last_Week_Rank=[]
Peak_Rank=[]
Weeks_OnBoard=[]

In [506]:
try:
    song=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/h3')
    for i in song:
        Song_Name.append(i.text)

except NoSuchElementException:
    Song_Name.append("NA")

try:
    artist=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/span')
    for i in artist:
        Artist_Name.append(i.text)

except NoSuchElementException:
    Artist_Name.append("NA")

try:
    lwr=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]')
    for i in lwr:
        Last_Week_Rank.append(i.text)

except NoSuchElementException:
    Last_Week_Rank.append("NA")

try:
    pr=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]/span')
    for i in pr:
        Peak_Rank.append(i.text)

except NoSuchElementException:
    Peak_Rank.append("NA")

try:
    wb=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[6]/span')
    for i in wb:
        Weeks_OnBoard.append(i.text)

except NoSuchElementException:
    Weeks_OnBoard.append("NA")

In [507]:
data={"Song_Name":Song_Name,
"Artist_Name":Artist_Name,
"Last_Week_Rank":Last_Week_Rank,
"Peak_Rank":Peak_Rank,
"Weeks_OnBoard":Weeks_OnBoard}
df=pd.DataFrame(data)
df

,Song_Name,Artist_Name,Last_Week_Rank,Peak_Rank,Weeks_OnBoard
0,A Bar Song (Tipsy),Shaboozey,1,1,23
1,I Had Some Help,Post Malone Featuring Morgan Wallen,2,1,19
2,Espresso,Sabrina Carpenter,3,3,23
3,"Good Luck, Babe!",Chappell Roan,7,4,24
4,Die With A Smile,Lady Gaga & Bruno Mars,4,3,5
...,...,...,...,...,...
95,U My Everything,Sexyy Red & Drake,89,44,17
96,My Kink Is Karma,Chappell Roan,-,81,5
97,Nasty,Tinashe,94,61,16
98,Parking Lot,Mustard & Travis Scott,99,57,8
99,Worst Way,Riley Green,-,100,1

6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [508]:
driver=webdriver.Chrome()

In [509]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [511]:
# Creating empty variables:
Book_Name=[]
Author_Name=[]
Volumes_Sold=[]
Publisher=[]
Genre=[]

In [512]:
try:
    name=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in name:
        Book_Name.append(i.text)

except NoSuchElementException:
    Book_Name.append("NA")

try:
    a_name=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in a_name:
        Author_Name.append(i.text)

except NoSuchElementException:
    Author_Name.append("NA")

try:
    vol=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in vol:
        Volumes_Sold.append(i.text)

except NoSuchElementException:
    Volumes_Sold.append("NA")

try:
    publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        Publisher.append(i.text)

except NoSuchElementException:
    Publisher.append("NA")
    
try:
    gen=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in gen:
        Genre.append(i.text)

except NoSuchElementException:
    Genre.append("NA")

In [513]:
data={"Book_Name":Book_Name,
"Author_Name":Author_Name,
"Volumes_Sold":Volumes_Sold,
"Publisher":Publisher,
"Genre":Genre}
df=pd.DataFrame(data)
df

,Book_Name,Author_Name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have
to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [535]:
driver=webdriver.Chrome()
driver.get(" https://www.imdb.com/list/ls095964455/")

In [518]:
HEADERS = ({'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.1 Safari/605.1.15', 'Accept-Language': 'en-US, en;q=0.5'})
page=requests.get(" https://www.imdb.com/list/ls095964455/",headers=HEADERS)
page

In [519]:
# Tried with both scraping method getting the 404 error.

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
 Note: - from the home page you have to go to the Show All Dataset page through code

In [636]:
driver=webdriver.Chrome()
driver.get(" https://archive.ics.uci.edu/")

In [637]:
# Clicking the dataset
click=driver.find_element(By.XPATH,'//a[@class="btn btn-primary"]')
click.click()

In [638]:
# scrapping url
url=[]
dataset=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in dataset:
    url.append(i.get_attribute('href'))

next_btn=driver.find_element(By.XPATH,'//div[@class="btn-group"]/button[2]')

In [639]:
len(url)

10

In [640]:
url

['https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/186/wine+quality',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/222/bank+marketing',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/320/student+performance',
 'https://archive.ics.uci.edu/dataset/352/online+retail',
 'https://archive.ics.uci.edu/dataset/19/car+evaluation']

In [641]:
# creating empty variables
Dataset_Name=[]
Data_Type=[]
Task=[]
Attribute_Type=[]
No_Of_Instances=[]
No_Of_Attribute=[]
Year=[]

In [ ]:
# scraping dataset name
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        dataset=driver.find_element(By.XPATH,'//div[@class="flex w-full items-center justify-between gap-4 bg-primary p-2"]/div/div/div')
        Dataset_Name.append(dataset.text)
    except NoSuchElementException:
        Dataset_Name.append("NA")

    try:
        type=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[1]/p')
        Data_Type.append(type.text)

    except NoSuchElementException:
        Data_Type.append("NA")

    try:
        task=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[3]/p')
        Task.append(task.text)

    except NoSuchElementException:
        Task.append("NA")

    try:
        attribute=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[4]/p')
        Attribute_Type.append(attribute.text)

    except NoSuchElementException:
        Attribute_Type.append("NA")

    try:
        noi=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[5]/p')
        No_Of_Instances.append(noi.text)

    except NoSuchElementException:
        No_Of_Instances.append("NA")

    try:
        noa=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[6]/p')
        No_Of_Attribute.append(noa.text)

    except NoSuchElementException:
        No_Of_Attribute.append("NA")

    try:
        year=driver.find_element(By.XPATH,'//h2[@class="text-sm text-primary-content"]')
        Year.append(year.text)

    except NoSuchElementException:
        Year.append("NA")

In [ ]:
print(len(Dataset_Name),len(Data_Type),len(Task),len(Attribute_Type),len(No_Of_Instances),len(No_Of_Attribute),len(Year))

In [626]:
data={"Dataset_Name":Dataset_Name,"Data_Type":Data_Type,"Task":Task,"Attribute_Type":Attribute_Type,"No_Of_Instances":No_Of_Instances,
      "No_Of_Attribute":No_Of_Attribute,"Year":Year}
df=pd.DataFrame(data)
df

ValueError: All arrays must be of the same length