Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and
salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [5]:
# importing the libraries
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
job_search=driver.find_element(By.XPATH,'//input[@class="suggestor-input "]')
job_search

In [6]:
job_search.send_keys("Data Scientist")

In [7]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location

In [8]:
location.send_keys("Delhi/NCR")

In [9]:
search_btn=driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
search_btn

In [10]:
# clicking using xpath
search_btn=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

In [11]:
# extracting the job titles
title=driver.find_elements(By.XPATH,'//a[@class="title "]')
title

[]

In [12]:
# extracting the text of the job titles

job_titles=[]
for i in title:
    if i.text is None:
        job_titles.append('Not')
    else:
        job_titles.append(i.text)

job_titles[:10]

[]

In [13]:
# extracting the tags of company names
name=driver.find_elements(By.XPATH,'//a[@class=" comp-name mw-25"]')
name

[]

In [14]:
# extracting all the company names
company_name=[]
for i in name:
    company_name.append(i.text)

company_name[:10]

[]

In [15]:
#extracting the experience tags
ex_tag=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
ex_tag

[]

In [16]:
# extracting the experience required
experience_required=[]
for i in ex_tag:
    experience_required.append(i.text)

experience_required[:10]

[]

In [17]:
#extracting the tags for the location
location_tag=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
location_tag

[]

In [18]:
#extracting all the locations
location=[]
for i in location_tag:
    location.append(i.text)

location[:10]

[]

In [19]:
salary_tag=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-rupee sal"]')
salary_tag

[]

In [20]:
salary=[]
for i in salary_tag:
    salary.append(i.text)

salary[:10]

[]

In [21]:
print(len(job_titles[:10]),len(company_name[:10]),len(experience_required[:10]),len(salary[:10]))

0 0 0 0

In [22]:
# preparing the data frame
data={"Job_Titles":job_titles[:10],"Company_Name":company_name[:10],"Experience_Required":experience_required[:10],"Salary":salary[:10],"Location":location[:10]}
df=pd.DataFrame(data)
df

Empty DataFrame
Columns: [Job_Titles, Company_Name, Experience_Required, Salary, Location]
Index: []

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the
job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [23]:
driver=webdriver.Chrome()

In [24]:
driver.get("https://www.shine.com/")

In [26]:
job_search=driver.find_element(By.XPATH,'//input[@class="form-control  "]')
job_search

In [27]:
job_search.send_keys("Data Scientist")

In [28]:
location_search=driver.find_element(By.XPATH,'//input[@name="id_loc"]')
location_search

In [29]:
location_search.send_keys("Bangalore")

In [31]:
search=driver.find_element(By.XPATH,'//button[@class=" btn btn-secondary undefined"]')
search.click()

In [32]:
# Extracting the job titles
job_tags=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
job_tags

[<selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10413")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10414")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10415")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10416")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10417")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10418")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10419")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10420")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10421")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10422")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10423")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10424")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10425")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10426")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10427")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10428")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10429")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10430")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10431")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10432")>]

In [33]:
# Extracting all the job titles text
job_titles=[]
for i in job_tags:
    job_titles.append(i.text)

job_titles[:10]

['Lead Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Science Analytics',
 'Data Science Manager',
 'Data Analyst',
 'Data Management Team Leader',
 'Opening for HR Analytics Power BI, Data Anlytics']

In [34]:
# Extracting all the location tags
loc_tag=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
loc_tag

[<selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10433")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10434")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10435")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10436")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10437")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10438")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10439")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10440")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10441")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10442")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10443")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10444")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10445")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10446")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10447")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10448")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10449")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10450")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10451")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10452")>]

In [35]:
job_location=[]
for i in loc_tag:
    job_location.append(i.text)

job_location[:10]

['Bangalore\n+8',
 'Bangalore\n+9',
 'Bangalore',
 'Bangalore\n+2',
 'Bangalore\n+9',
 'Bangalore\n+7',
 'Bangalore\n+7',
 'Bangalore\n+4',
 'Bangalore\n+9',
 'Bangalore']

In [36]:
# Extracting all company tags
com_tag=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
com_tag

[<selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10460")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10461")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10462")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10463")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10464")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10465")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10466")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10467")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10468")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10469")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10470")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10471")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10472")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10473")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10474")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10475")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10476")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10477")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10478")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10479")>]

In [37]:
# Extracting all company names
company_name=[]
for i in com_tag:
    company_name.append(i.text)

company_name[:10]

['spento papers (india) llp',
 'future solution centre',
 'eliterecruitments hiring for global...',
 "the christopher's consulting and re...",
 'divya staffing solution',
 'mackenzie modern it solutions priva...',
 'mackenzie modern it solutions priva...',
 'aryan technology',
 'overnet trading private limited',
 'personal network.']

In [38]:
# Extracting the tags of experience
exp_tag=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
exp_tag

[<selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10480")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10481")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10482")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10483")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10484")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10485")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10486")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10487")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10488")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10489")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10490")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10491")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10492")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10493")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10494")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10495")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10496")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10497")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10498")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64470fd53eb33e57d441108bead6fe6b", element="f.3A5336CE7914EBD822E8A29FE8888A08.d.A53227B694781B88C331F075252CA956.e.10499")>]

In [39]:
# Extracting the experience text
experience_required=[]
for i in exp_tag:
    experience_required.append(i.text)

experience_required[:10]

['12 to 22 Yrs',
 '2 to 7 Yrs',
 '4 to 8 Yrs',
 '0 to 2 Yrs',
 '0 to 4 Yrs',
 '5 to 8 Yrs',
 '3 to 8 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '3 to 8 Yrs']

In [40]:
print(len(job_titles[:10]),len(job_location[:10]),len(company_name[:10]),len(experience_required[:10]))

10 10 10 10

In [41]:
data={"Job_Title":job_titles[:10],"Job_Location":job_location[:10],"Company_Name":company_name[:10],"Experience_Required":experience_required[:10]}
df=pd.DataFrame(data)
df

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Lead Data Scientist,Bangalore\n+8,spento papers (india) llp,12 to 22 Yrs
1,Data Scientist,Bangalore\n+9,future solution centre,2 to 7 Yrs
2,Data Scientist,Bangalore,eliterecruitments hiring for global...,4 to 8 Yrs
3,Data Scientist,Bangalore\n+2,the christopher's consulting and re...,0 to 2 Yrs
4,Data Scientist,Bangalore\n+9,divya staffing solution,0 to 4 Yrs
5,Data Science Analytics,Bangalore\n+7,mackenzie modern it solutions priva...,5 to 8 Yrs
6,Data Science Manager,Bangalore\n+7,mackenzie modern it solutions priva...,3 to 8 Yrs
7,Data Analyst,Bangalore\n+4,aryan technology,0 to 4 Yrs
8,Data Management Team Leader,Bangalore\n+9,overnet trading private limited,0 to 4 Yrs
9,"Opening for HR Analytics Power BI, Data Anlytics",Bangalore,personal network.,3 to 8 Yrs

Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-
reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=F
LIPKART.As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [42]:
import time

In [43]:
driver=webdriver.Chrome()

In [44]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [45]:
#extracting the rating tags
rating_tag=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
rating_tag

[<selenium.webdriver.remote.webelement.WebElement (session="cd7fa8d3a422c33368f8b3e2415260a7", element="f.286865E24D5942B989FBB1561987EB55.d.FA303976118C8D3A4BCE2AD359480A33.e.7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cd7fa8d3a422c33368f8b3e2415260a7", element="f.286865E24D5942B989FBB1561987EB55.d.FA303976118C8D3A4BCE2AD359480A33.e.8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cd7fa8d3a422c33368f8b3e2415260a7", element="f.286865E24D5942B989FBB1561987EB55.d.FA303976118C8D3A4BCE2AD359480A33.e.9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cd7fa8d3a422c33368f8b3e2415260a7", element="f.286865E24D5942B989FBB1561987EB55.d.FA303976118C8D3A4BCE2AD359480A33.e.10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cd7fa8d3a422c33368f8b3e2415260a7", element="f.286865E24D5942B989FBB1561987EB55.d.FA303976118C8D3A4BCE2AD359480A33.e.11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cd7fa8d3a422c33368f8b3e2415260a7", element="f.286865E24D5942B989FBB1561987EB55.d.FA303976118C8D3A4BCE2AD359480A33.e.12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cd7fa8d3a422c33368f8b3e2415260a7", element="f.286865E24D5942B989FBB1561987EB55.d.FA303976118C8D3A4BCE2AD359480A33.e.13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cd7fa8d3a422c33368f8b3e2415260a7", element="f.286865E24D5942B989FBB1561987EB55.d.FA303976118C8D3A4BCE2AD359480A33.e.14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cd7fa8d3a422c33368f8b3e2415260a7", element="f.286865E24D5942B989FBB1561987EB55.d.FA303976118C8D3A4BCE2AD359480A33.e.15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cd7fa8d3a422c33368f8b3e2415260a7", element="f.286865E24D5942B989FBB1561987EB55.d.FA303976118C8D3A4BCE2AD359480A33.e.16")>]

In [46]:
rating=[]
review_summary=[]
full_review=[]

In [47]:
for i in range(0,10):
    rat=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
    rs=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
    fs=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')

    for j in rat:
        rating.append(j.text)
    rating[:100]

    for k in rs:
        review_summary.append(k.text)
    review_summary[:100]

    for m in fs:
        full_review.append(m.text)

    full_review[:100]

    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div')
    next_button.click()
    time.sleep(2)

In [48]:
rating[:100]

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4']

In [49]:
print(len(rating[:100]),len(review_summary[:100]),len(full_review[:100]))

100 100 100

In [ ]:
data={"Rating":rating[:100],"Review_Summary":review_summary[:100],"Full_Review":full_review[:100]}
df=pd.DataFrame(data)
df

Q4: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search
field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [ ]:
driver=webdriver.Chrome()

In [ ]:
driver.get("https://www.flipkart.com")

In [ ]:
search=driver.find_element(By.XPATH,'//input[@type="text"]')
search.send_keys("sneakers")

In [ ]:
search_btn=driver.find_element(By.XPATH,'//button[@class="_2iLD__"]')
search_btn.click()

In [ ]:
Brand=[]
Product_description=[]
Price=[]
Discount=[]

In [ ]:
for i in range(0,3):
    brand=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
    product_description=driver.find_elements(By.CLASS_NAME,"WKTcLC")
    price=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
    discount=driver.find_elements(By.XPATH,'//div[@class="UkUFwK"]')

    for i in brand:
        Brand.append(i.text)

    Brand[:100]

    for i in product_description:
        Product_description.append(i.text)

    Product_description[:100]

    for i in price:
        Price.append(i.text)

    Price[:100]

    for i in discount:
        Discount.append(i.text)

    Discount[:100]

    next_btn=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div')
    next_btn.click()
    time.sleep(2)

In [ ]:
Brand[:100]

In [ ]:
print(len(Brand[:100]),len(Product_description[:100]),len(Price[:100]),len(Discount[:100]))

In [ ]:
data={"Brand":Brand[:100],"Product_Description":Product_description[:100],"Price":Price[:100],"Discount":Discount[:100]}
df=pd.DataFrame(data)
df

Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU
Type filter to “Intel Core i7” as shown in the below image:After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [ ]:
driver=webdriver.Chrome()

In [ ]:
driver.get("https://www.amazon.in/")

In [ ]:
search=driver.find_element(By.XPATH,'//input[@type="text"]')
search.send_keys("Laptop")

In [ ]:
search_btn=driver.find_element(By.XPATH,'//input[@type="submit"]')
search_btn.click()

In [ ]:
filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[2]/span/span[9]/li/span/a/span')
filter.click()

In [ ]:
title=[]
rating=[]
price=[]

In [ ]:
ti_tag=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in ti_tag:
    title.append(i.text)

title[:10]
ra_tag=driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')
for i in ra_tag:
    rating.append(i.text)

rating[:10]

p_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in p_tag:
    price.append(i.text)

price[:10]

In [ ]:
print(len(title[:10]),len(rating[:10]),len(price[:10]))

In [ ]:
data={"Title":title[:10],"Rating":rating[:10],"Price":price[:10]}
df=pd.DataFrame(data)
df

Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on Top Quote
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [ ]:
driver=webdriver.Chrome()

In [ ]:
driver.get("https://www.azquotes.com/")

In [ ]:
top_quotes=driver.find_element(By.XPATH,'//a[@href="/top_quotes.html"]')
top_quotes.click()

In [ ]:
quote=[]
author=[]
toq=[]

In [ ]:
for i in range(10):
    quotes=driver.find_elements(By.XPATH,'//a[@class="title"]')
    authors=driver.find_elements(By.XPATH,'//div[@class="author"]')
    toqs=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in quotes:
        quote.append(i.text)

    quote[:1000]

    for i in authors:
        author.append(i.text)

    author[:1000]

    for i in toqs:
        toq.append(i.text)

    toq[:1000]

In [ ]:
print(len(quote[:1000]),len(author[:1000]),len(toq[:1000]))

In [ ]:
data={"Quote":quote[:1000],"Author":author[:1000],"Type of Quotes":toq[:1000]}
df=pd.DataFrame(data)
df

7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name,
Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-of-
all-prime-ministers-of-india-1473165149-1
scrap the mentioned data and make the DataFrame

In [25]:
driver=webdriver.Chrome()

In [26]:
driver.get("https://www.jagranjosh.com/general-knowledge/list-of- all-prime-ministers-of-india-1473165149-1")

In [27]:
time.sleep(5)

In [28]:
pm_tag=driver.find_element(By.XPATH,'//img[@alt="List of all Prime Ministers of Iindia"]')
pm_tag.click()

In [29]:
table=driver.find_element(By.XPATH,'//div[@class="Details_StoryBody__85cfI"]')

In [45]:
rows=[]
row = table.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr')
for i in row:
    rows.append(i.text)

rows

['S.N Name Age when assumed office Term of office Duration',
 '1 Jawaharlal Nehru 57 years, 274 days 15 August1947 27 May 1964 16 years, 286 days',
 '2 Gulzarilal Nanda 65 years, 328 days 27 May 1964 9 June 1964 13 days',
 '3 Lal Bahadur Shastri 62 years, 250 days 9 June 1964 11 January 1966 1 year, 216 days',
 '4 Gulzarilal Nanda 67 years, 191 days 11 January 1966 24 January 1966 13 days',
 '4 Indira Gandhi 48 years, 66 days 24 January 1966 24 March 1977 11 years, 59 days',
 '5 Morarji Desai 81 years, 24 days 24 March 1977 28 July 1979 2 years, 126 days',
 '6 Charan Singh 76 years, 217 days 28 July 1979 14 January 1980 170 days',
 '7 Indira Gandhi 62 years, 56 days 14 January 1980 31 October 1984 4 years, 291 days',
 '8 Rajiv Gandhi 40 years, 72 days 31 October 1984 2 December 1989 5 years, 32 days',
 '9 Vishwanath Pratap Singh 58 years, 160 days 2 December 1989 10 November 1990 343 days',
 '10 Chandra Shekhar 63 years, 207 days 10 November 1990 21 June 1991 223 days',
 '11 P. V. Narasimha Rao 69 years, 358 days 21 June 1991 16 May 1996 4 years, 330 days',
 '12 Atal Bihari Vajpayee 71 years, 143 days 16 May 1996 1 June 1996 16 days',
 '13 H. D. Deve Gowda 63 years, 14 days 1 June 1996 21 April 1997 324 days',
 '14 Inder Kumar Gujral 77 years, 138 days 21 April 1997 19 March 1998 332 days',
 '15 Atal Bihari Vajpayee 73 years, 84 days 19 March 1998 22 May 2004 6 years, 64 days',
 '16 Manmohan Singh 71 years, 239 days 22 May 2004 26 May 2014 10 years, 4 days',
 '17 Narendra Modi 63 years, 251 days 26 May 2014 Incumbent 10 years, 87 days',
 'List of all Presidents of India List of Nicknames of Indian Prime Ministers']

In [31]:
names=[]
born_dead=[]
term_of_office=[]
remarks=[]

In [46]:
name=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td')
for i in name:
    names.append(i.text)

names[1:]

['Name',
 'Age when assumed office',
 'Term of office',
 'Duration',
 '1',
 'Jawaharlal Nehru',
 '57 years, 274 days',
 '15 August1947',
 '27 May 1964',
 '16 years, 286 days',
 '2',
 'Gulzarilal Nanda',
 '65 years, 328 days',
 '27 May 1964',
 '9 June 1964',
 '13 days',
 '3',
 'Lal Bahadur Shastri',
 '62 years, 250 days',
 '9 June 1964',
 '11 January 1966',
 '1 year, 216 days',
 '4',
 'Gulzarilal Nanda',
 '67 years, 191 days',
 '11 January 1966',
 '24 January 1966',
 '13 days',
 '4',
 'Indira Gandhi',
 '48 years, 66 days',
 '24 January 1966',
 '24 March 1977',
 '11 years, 59 days',
 '5',
 'Morarji Desai',
 '81 years, 24 days',
 '24 March 1977',
 '28 July 1979',
 '2 years, 126 days',
 '6',
 'Charan Singh',
 '76 years, 217 days',
 '28 July 1979',
 '14 January 1980',
 '170 days',
 '7',
 'Indira Gandhi',
 '62 years, 56 days',
 '14 January 1980',
 '31 October 1984',
 '4 years, 291 days',
 '8',
 'Rajiv Gandhi',
 '40 years, 72 days',
 '31 October 1984',
 '2 December 1989',
 '5 years, 32 days',
 '9',
 'Vishwanath Pratap Singh',
 '58 years, 160 days',
 '2 December 1989',
 '10 November 1990',
 '343 days',
 '10',
 'Chandra Shekhar',
 '63 years, 207 days',
 '10 November 1990',
 '21 June 1991',
 '223 days',
 '11',
 'P. V. Narasimha Rao',
 '69 years, 358 days',
 '21 June 1991',
 '16 May 1996',
 '4 years, 330 days',
 '12',
 'Atal Bihari Vajpayee',
 '71 years, 143 days',
 '16 May 1996',
 '1 June 1996',
 '16 days',
 '13',
 'H. D. Deve Gowda',
 '63 years, 14 days',
 '1 June 1996',
 '21 April 1997',
 '324 days',
 '14',
 'Inder Kumar Gujral',
 '77 years, 138 days',
 '21 April 1997',
 '19 March 1998',
 '332 days',
 '15',
 'Atal Bihari Vajpayee',
 '73 years, 84 days',
 '19 March 1998',
 '22 May 2004',
 '6 years, 64 days',
 '16',
 'Manmohan Singh',
 '71 years, 239 days',
 '22 May 2004',
 '26 May 2014',
 '10 years, 4 days',
 '17',
 'Narendra Modi',
 '63 years, 251 days',
 '26 May 2014',
 'Incumbent',
 '10 years, 87 days',
 'List of all Presidents of India',
 'List of Nicknames of Indian Prime Ministers',
 'S.N',
 'Name',
 'Age when assumed office',
 'Term of office',
 'Duration',
 '1',
 'Jawaharlal Nehru',
 '57 years, 274 days',
 '15 August1947',
 '27 May 1964',
 '16 years, 286 days',
 '2',
 'Gulzarilal Nanda',
 '65 years, 328 days',
 '27 May 1964',
 '9 June 1964',
 '13 days',
 '3',
 'Lal Bahadur Shastri',
 '62 years, 250 days',
 '9 June 1964',
 '11 January 1966',
 '1 year, 216 days',
 '4',
 'Gulzarilal Nanda',
 '67 years, 191 days',
 '11 January 1966',
 '24 January 1966',
 '13 days',
 '4',
 'Indira Gandhi',
 '48 years, 66 days',
 '24 January 1966',
 '24 March 1977',
 '11 years, 59 days',
 '5',
 'Morarji Desai',
 '81 years, 24 days',
 '24 March 1977',
 '28 July 1979',
 '2 years, 126 days',
 '6',
 'Charan Singh',
 '76 years, 217 days',
 '28 July 1979',
 '14 January 1980',
 '170 days',
 '7',
 'Indira Gandhi',
 '62 years, 56 days',
 '14 January 1980',
 '31 October 1984',
 '4 years, 291 days',
 '8',
 'Rajiv Gandhi',
 '40 years, 72 days',
 '31 October 1984',
 '2 December 1989',
 '5 years, 32 days',
 '9',
 'Vishwanath Pratap Singh',
 '58 years, 160 days',
 '2 December 1989',
 '10 November 1990',
 '343 days',
 '10',
 'Chandra Shekhar',
 '63 years, 207 days',
 '10 November 1990',
 '21 June 1991',
 '223 days',
 '11',
 'P. V. Narasimha Rao',
 '69 years, 358 days',
 '21 June 1991',
 '16 May 1996',
 '4 years, 330 days',
 '12',
 'Atal Bihari Vajpayee',
 '71 years, 143 days',
 '16 May 1996',
 '1 June 1996',
 '16 days',
 '13',
 'H. D. Deve Gowda',
 '63 years, 14 days',
 '1 June 1996',
 '21 April 1997',
 '324 days',
 '14',
 'Inder Kumar Gujral',
 '77 years, 138 days',
 '21 April 1997',
 '19 March 1998',
 '332 days',
 '15',
 'Atal Bihari Vajpayee',
 '73 years, 84 days',
 '19 March 1998',
 '22 May 2004',
 '6 years, 64 days',
 '16',
 'Manmohan Singh',
 '71 years, 239 days',
 '22 May 2004',
 '26 May 2014',
 '10 years, 4 days',
 '17',
 'Narendra Modi',
 '63 years, 251 days',
 '26 May 2014',
 'Incumbent',
 '10 years, 87 days',
 'List of all Presidents of India',
 'List of Nicknames of Indian Prime Ministers',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'S.N',
 'Name',
 'Age when assumed office',
 'Term of office',
 'Duration',
 '1',
 'Jawaharlal Nehru',
 '57 years, 274 days',
 '15 August1947',
 '27 May 1964',
 '16 years, 286 days',
 '2',
 'Gulzarilal Nanda',
 '65 years, 328 days',
 '27 May 1964',
 '9 June 1964',
 '13 days',
 '3',
 'Lal Bahadur Shastri',
 '62 years, 250 days',
 '9 June 1964',
 '11 January 1966',
 '1 year, 216 days',
 '4',
 'Gulzarilal Nanda',
 '67 years, 191 days',
 '11 January 1966',
 '24 January 1966',
 '13 days',
 '4',
 'Indira Gandhi',
 '48 years, 66 days',
 '24 January 1966',
 '24 March 1977',
 '11 years, 59 days',
 '5',
 'Morarji Desai',
 '81 years, 24 days',
 '24 March 1977',
 '28 July 1979',
 '2 years, 126 days',
 '6',
 'Charan Singh',
 '76 years, 217 days',
 '28 July 1979',
 '14 January 1980',
 '170 days',
 '7',
 'Indira Gandhi',
 '62 years, 56 days',
 '14 January 1980',
 '31 October 1984',
 '4 years, 291 days',
 '8',
 'Rajiv Gandhi',
 '40 years, 72 days',
 '31 October 1984',
 '2 December 1989',
 '5 years, 32 days',
 '9',
 'Vishwanath Pratap Singh',
 '58 years, 160 days',
 '2 December 1989',
 '10 November 1990',
 '343 days',
 '10',
 'Chandra Shekhar',
 '63 years, 207 days',
 '10 November 1990',
 '21 June 1991',
 '223 days',
 '11',
 'P. V. Narasimha Rao',
 '69 years, 358 days',
 '21 June 1991',
 '16 May 1996',
 '4 years, 330 days',
 '12',
 'Atal Bihari Vajpayee',
 '71 years, 143 days',
 '16 May 1996',
 '1 June 1996',
 '16 days',
 '13',
 'H. D. Deve Gowda',
 '63 years, 14 days',
 '1 June 1996',
 '21 April 1997',
 '324 days',
 '14',
 'Inder Kumar Gujral',
 '77 years, 138 days',
 '21 April 1997',
 '19 March 1998',
 '332 days',
 '15',
 'Atal Bihari Vajpayee',
 '73 years, 84 days',
 '19 March 1998',
 '22 May 2004',
 '6 years, 64 days',
 '16',
 'Manmohan Singh',
 '71 years, 239 days',
 '22 May 2004',
 '26 May 2014',
 '10 years, 4 days',
 '17',
 'Narendra Modi',
 '63 years, 251 days',
 '26 May 2014',
 'Incumbent',
 '10 years, 87 days',
 'List of all Presidents of India',
 'List of Nicknames of Indian Prime Ministers',
 'S.N',
 'Name',
 'Age when assumed office',
 'Term of office',
 'Duration',
 '1',
 'Jawaharlal Nehru',
 '57 years, 274 days',
 '15 August1947',
 '27 May 1964',
 '16 years, 286 days',
 '2',
 'Gulzarilal Nanda',
 '65 years, 328 days',
 '27 May 1964',
 '9 June 1964',
 '13 days',
 '3',
 'Lal Bahadur Shastri',
 '62 years, 250 days',
 '9 June 1964',
 '11 January 1966',
 '1 year, 216 days',
 '4',
 'Gulzarilal Nanda',
 '67 years, 191 days',
 '11 January 1966',
 '24 January 1966',
 '13 days',
 '4',
 'Indira Gandhi',
 '48 years, 66 days',
 '24 January 1966',
 '24 March 1977',
 '11 years, 59 days',
 '5',
 'Morarji Desai',
 '81 years, 24 days',
 '24 March 1977',
 '28 July 1979',
 '2 years, 126 days',
 '6',
 'Charan Singh',
 '76 years, 217 days',
 '28 July 1979',
 '14 January 1980',
 '170 days',
 '7',
 'Indira Gandhi',
 '62 years, 56 days',
 '14 January 1980',
 '31 October 1984',
 '4 years, 291 days',
 '8',
 'Rajiv Gandhi',
 '40 years, 72 days',
 '31 October 1984',
 '2 December 1989',
 '5 years, 32 days',
 '9',
 'Vishwanath Pratap Singh',
 '58 years, 160 days',
 '2 December 1989',
 '10 November 1990',
 '343 days',
 '10',
 'Chandra Shekhar',
 '63 years, 207 days',
 '10 November 1990',
 '21 June 1991',
 '223 days',
 '11',
 'P. V. Narasimha Rao',
 '69 years, 358 days',
 '21 June 1991',
 '16 May 1996',
 '4 years, 330 days',
 '12',
 'Atal Bihari Vajpayee',
 '71 years, 143 days',
 '16 May 1996',
 '1 June 1996',
 '16 days',
 '13',
 'H. D. Deve Gowda',
 '63 years, 14 days',
 '1 June 1996',
 '21 April 1997',
 '324 days',
 '14',
 'Inder Kumar Gujral',
 '77 years, 138 days',
 '21 April 1997',
 '19 March 1998',
 '332 days',
 '15',
 'Atal Bihari Vajpayee',
 '73 years, 84 days',
 '19 March 1998',
 '22 May 2004',
 '6 years, 64 days',
 '16',
 'Manmohan Singh',
 '71 years, 239 days',
 '22 May 2004',
 '26 May 2014',
 '10 years, 4 days',
 '17',
 'Narendra Modi',
 '63 years, 251 days',
 '26 May 2014',
 'Incumbent',
 '10 years, 87 days',
 'List of all Presidents of India',
 'List of Nicknames of Indian Prime Ministers',
 'S.N',
 'Name',
 'Age when assumed office',
 'Term of office',
 'Duration',
 '1',
 'Jawaharlal Nehru',
 '57 years, 274 days',
 '15 August1947',
 '27 May 1964',
 '16 years, 286 days',
 '2',
 'Gulzarilal Nanda',
 '65 years, 328 days',
 '27 May 1964',
 '9 June 1964',
 '13 days',
 '3',
 'Lal Bahadur Shastri',
 '62 years, 250 days',
 '9 June 1964',
 '11 January 1966',
 '1 year, 216 days',
 '4',
 'Gulzarilal Nanda',
 '67 years, 191 days',
 '11 January 1966',
 '24 January 1966',
 '13 days',
 '4',
 'Indira Gandhi',
 '48 years, 66 days',
 '24 January 1966',
 '24 March 1977',
 '11 years, 59 days',
 '5',
 'Morarji Desai',
 '81 years, 24 days',
 '24 March 1977',
 '28 July 1979',
 '2 years, 126 days',
 '6',
 'Charan Singh',
 '76 years, 217 days',
 '28 July 1979',
 '14 January 1980',
 '170 days',
 '7',
 'Indira Gandhi',
 '62 years, 56 days',
 '14 January 1980',
 '31 October 1984',
 '4 years, 291 days',
 '8',
 'Rajiv Gandhi',
 '40 years, 72 days',
 '31 October 1984',
 '2 December 1989',
 '5 years, 32 days',
 '9',
 'Vishwanath Pratap Singh',
 '58 years, 160 days',
 '2 December 1989',
 '10 November 1990',
 '343 days',
 '10',
 'Chandra Shekhar',
 '63 years, 207 days',
 '10 November 1990',
 '21 June 1991',
 '223 days',
 '11',
 'P. V. Narasimha Rao',
 '69 years, 358 days',
 '21 June 1991',
 '16 May 1996',
 '4 years, 330 days',
 '12',
 'Atal Bihari Vajpayee',
 '71 years, 143 days',
 '16 May 1996',
 '1 June 1996',
 '16 days',
 '13',
 'H. D. Deve Gowda',
 '63 years, 14 days',
 '1 June 1996',
 '21 April 1997',
 '324 days',
 '14',
 'Inder Kumar Gujral',
 '77 years, 138 days',
 '21 April 1997',
 '19 March 1998',
 '332 days',
 '15',
 'Atal Bihari Vajpayee',
 '73 years, 84 days',
 '19 March 1998',
 '22 May 2004',
 '6 years, 64 days',
 '16',
 'Manmohan Singh',
 '71 years, 239 days',
 '22 May 2004',
 '26 May 2014',
 '10 years, 4 days',
 '17',
 'Narendra Modi',
 '63 years, 251 days',
 '26 May 2014',
 'Incumbent',
 '10 years, 87 days',
 'List of all Presidents of India',
 'List of Nicknames of Indian Prime Ministers',
 'S.N',
 'Name',
 'Age when assumed office',
 'Term of office',
 'Duration',
 '1',
 'Jawaharlal Nehru',
 '57 years, 274 days',
 '15 August1947',
 '27 May 1964',
 '16 years, 286 days',
 '2',
 'Gulzarilal Nanda',
 '65 years, 328 days',
 '27 May 1964',
 '9 June 1964',
 '13 days',
 '3',
 'Lal Bahadur Shastri',
 '62 years, 250 days',
 '9 June 1964',
 '11 January 1966',
 '1 year, 216 days',
 '4',
 'Gulzarilal Nanda',
 '67 years, 191 days',
 '11 January 1966',
 '24 January 1966',
 '13 days',
 '4',
 'Indira Gandhi',
 '48 years, 66 days',
 '24 January 1966',
 '24 March 1977',
 '11 years, 59 days',
 '5',
 'Morarji Desai',
 '81 years, 24 days',
 '24 March 1977',
 '28 July 1979',
 '2 years, 126 days',
 '6',
 'Charan Singh',
 '76 years, 217 days',
 '28 July 1979',
 '14 January 1980',
 '170 days',
 '7',
 'Indira Gandhi',
 '62 years, 56 days',
 '14 January 1980',
 '31 October 1984',
 '4 years, 291 days',
 '8',
 'Rajiv Gandhi',
 '40 years, 72 days',
 '31 October 1984',
 '2 December 1989',
 '5 years, 32 days',
 '9',
 'Vishwanath Pratap Singh',
 '58 years, 160 days',
 '2 December 1989',
 '10 November 1990',
 '343 days',
 '10',
 'Chandra Shekhar',
 '63 years, 207 days',
 '10 November 1990',
 '21 June 1991',
 '223 days',
 '11',
 'P. V. Narasimha Rao',
 '69 years, 358 days',
 '21 June 1991',
 '16 May 1996',
 '4 years, 330 days',
 '12',
 'Atal Bihari Vajpayee',
 '71 years, 143 days',
 '16 May 1996',
 '1 June 1996',
 '16 days',
 '13',
 'H. D. Deve Gowda',
 '63 years, 14 days',
 '1 June 1996',
 '21 April 1997',
 '324 days',
 '14',
 'Inder Kumar Gujral',
 '77 years, 138 days',
 '21 April 1997',
 '19 March 1998',
 '332 days',
 '15',
 'Atal Bihari Vajpayee',
 '73 years, 84 days',
 '19 March 1998',
 '22 May 2004',
 '6 years, 64 days',
 '16',
 'Manmohan Singh',
 '71 years, 239 days',
 '22 May 2004',
 '26 May 2014',
 '10 years, 4 days',
 '17',
 'Narendra Modi',
 '63 years, 251 days',
 '26 May 2014',
 'Incumbent',
 '10 years, 87 days',
 'List of all Presidents of India',
 'List of Nicknames of Indian Prime Ministers',
 'S.N',
 'Name',
 'Age when assumed office',
 'Term of office',
 'Duration',
 '1',
 'Jawaharlal Nehru',
 '57 years, 274 days',
 '15 August1947',
 '27 May 1964',
 '16 years, 286 days',
 '2',
 'Gulzarilal Nanda',
 '65 years, 328 days',
 '27 May 1964',
 '9 June 1964',
 '13 days',
 '3',
 'Lal Bahadur Shastri',
 '62 years, 250 days',
 '9 June 1964',
 '11 January 1966',
 '1 year, 216 days',
 '4',
 'Gulzarilal Nanda',
 '67 years, 191 days',
 '11 January 1966',
 '24 January 1966',
 '13 days',
 '4',
 'Indira Gandhi',
 '48 years, 66 days',
 '24 January 1966',
 '24 March 1977',
 '11 years, 59 days',
 '5',
 'Morarji Desai',
 '81 years, 24 days',
 '24 March 1977',
 '28 July 1979',
 '2 years, 126 days',
 '6',
 'Charan Singh',
 '76 years, 217 days',
 '28 July 1979',
 '14 January 1980',
 '170 days',
 '7',
 'Indira Gandhi',
 '62 years, 56 days',
 '14 January 1980',
 '31 October 1984',
 '4 years, 291 days',
 '8',
 'Rajiv Gandhi',
 '40 years, 72 days',
 '31 October 1984',
 '2 December 1989',
 '5 years, 32 days',
 '9',
 'Vishwanath Pratap Singh',
 '58 years, 160 days',
 '2 December 1989',
 '10 November 1990',
 '343 days',
 '10',
 'Chandra Shekhar',
 '63 years, 207 days',
 '10 November 1990',
 '21 June 1991',
 '223 days',
 '11',
 'P. V. Narasimha Rao',
 '69 years, 358 days',
 '21 June 1991',
 '16 May 1996',
 '4 years, 330 days',
 '12',
 'Atal Bihari Vajpayee',
 '71 years, 143 days',
 '16 May 1996',
 '1 June 1996',
 '16 days',
 '13',
 'H. D. Deve Gowda',
 '63 years, 14 days',
 '1 June 1996',
 '21 April 1997',
 '324 days',
 '14',
 'Inder Kumar Gujral',
 '77 years, 138 days',
 '21 April 1997',
 '19 March 1998',
 '332 days',
 '15',
 'Atal Bihari Vajpayee',
 '73 years, 84 days',
 '19 March 1998',
 '22 May 2004',
 '6 years, 64 days',
 '16',
 'Manmohan Singh',
 '71 years, 239 days',
 '22 May 2004',
 '26 May 2014',
 '10 years, 4 days',
 '17',
 'Narendra Modi',
 '63 years, 251 days',
 '26 May 2014',
 'Incumbent',
 '10 years, 87 days',
 'List of all Presidents of India',
 'List of Nicknames of Indian Prime Ministers',
 'S.N',
 'Name',
 'Age when assumed office',
 'Term of office',
 'Duration',
 '1',
 'Jawaharlal Nehru',
 '57 years, 274 days',
 '15 August1947',
 '27 May 1964',
 '16 years, 286 days',
 '2',
 'Gulzarilal Nanda',
 '65 years, 328 days',
 '27 May 1964',
 '9 June 1964',
 '13 days',
 '3',
 'Lal Bahadur Shastri',
 '62 years, 250 days',
 '9 June 1964',
 '11 January 1966',
 '1 year, 216 days',
 '4',
 'Gulzarilal Nanda',
 '67 years, 191 days',
 '11 January 1966',
 '24 January 1966',
 '13 days',
 '4',
 'Indira Gandhi',
 '48 years, 66 days',
 '24 January 1966',
 '24 March 1977',
 '11 years, 59 days',
 '5',
 'Morarji Desai',
 '81 years, 24 days',
 '24 March 1977',
 '28 July 1979',
 '2 years, 126 days',
 '6',
 'Charan Singh',
 '76 years, 217 days',
 '28 July 1979',
 '14 January 1980',
 '170 days',
 '7',
 'Indira Gandhi',
 '62 years, 56 days',
 '14 January 1980',
 '31 October 1984',
 '4 years, 291 days',
 '8',
 'Rajiv Gandhi',
 '40 years, 72 days',
 '31 October 1984',
 '2 December 1989',
 '5 years, 32 days',
 '9',
 'Vishwanath Pratap Singh',
 '58 years, 160 days',
 '2 December 1989',
 '10 November 1990',
 '343 days',
 '10',
 'Chandra Shekhar',
 '63 years, 207 days',
 '10 November 1990',
 '21 June 1991',
 '223 days',
 '11',
 'P. V. Narasimha Rao',
 '69 years, 358 days',
 '21 June 1991',
 '16 May 1996',
 '4 years, 330 days',
 '12',
 'Atal Bihari Vajpayee',
 '71 years, 143 days',
 '16 May 1996',
 ...]

In [33]:
data={"Names":names,"Born_Dead":born_dead,"Term_of_Office":term_of_office,"Remarks":remarks}
df=pd.DataFrame(data)
df

ValueError: All arrays must be of the same length

Q8: Write a python program to display list of 50 Most expensive cars in the world
(i.e. Car name and Price) from https://www.motor1.com/

In [110]:
driver=webdriver.Chrome()

In [111]:
driver.get("https://www.motor1.com/")

In [114]:
search=driver.find_element(By.XPATH,'//input[@class="m1-search-panel-input m1-search-form-text"]')
search.send_keys("50 most expensive cars")

In [115]:
search_btn=driver.find_element(By.XPATH,'//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
search_btn.click()

In [116]:
link=driver.find_element(By.XPATH,'//div[@class="item wcom "]/a')
link.click()

In [117]:
car_name=[]
price=[]

In [121]:
car=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car:
    car_name.append(i.text)

car_name[:50]

pr=driver.find_elements(By.XPATH,'//div[@class="postBody description e-content"]/p/strong')
for j in pr:
    price.append(j.text)

price[:50]

['$1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 '$2.7 Million',
 'Price: $2.7 Million',
 'Price: $2.8 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 '$3.1 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 '$3.5 Million (est.)',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 '$3.9 Million',
 '$4.0 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $4.8 Million',
 'Price: $5.0 Million',
 'Price: $5.8 Million',
 '$6.0 Million',
 'Price: $7.4 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $10.8 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million',
 'Price: $28.0 Million (est.)',
 'Price: $30 Million (est.)']

In [122]:
print(len(car_name[:50]),len(price[:50]))

50 50

In [123]:
data={"Car_Name":car_name[:50],"Price":price[:50]}
df=pd.DataFrame(data)
df

                                     Car_Name                        Price
0                           McLaren Senna GTR                 $1.7 Million
1                                 Czinger 21C          Price: $1.7 Million
2                               Ferrari Monza          Price: $1.7 Million
3                          Gordon Murray T.33          Price: $1.7 Million
4                           Koenigsegg Gemera          Price: $1.7 Million
5                          Hennessey Venom F5          Price: $1.8 Million
6                             Bentley Bacalar          Price: $1.9 Million
7               Hispano Suiza Carmen Boulogne          Price: $1.9 Million
8                      Bentley Mulliner Batur          Price: $2.0 Million
9                                 SSC Tuatara          Price: $2.0 Million
10                                Lotus Evija          Price: $2.1 Million
11                        Aston Martin Vulcan          Price: $2.3 Million
12                                 Delage D12          Price: $2.3 Million
13                        Ferrari Daytona SP3          Price: $2.3 Million
14                          McLaren Speedtail          Price: $2.3 Million
15                               Rimac Nevera          Price: $2.4 Million
16                              Pagani Utopia          Price: $2.5 Million
17                       Pininfarina Battista          Price: $2.5 Million
18                         Gordon Murray T.50          Price: $2.6 Million
19                       Lamborghini Countach          Price: $2.6 Million
20              Hennessey Venom F5 Revolution                 $2.7 Million
21                   Mercedes-AMG Project One          Price: $2.7 Million
22                               Zenvo Aurora          Price: $2.8 Million
23                        Aston Martin Victor          Price: $3.0 Million
24                Hennessey Venom F5 Roadster                 $3.0 Million
25                           Koenigsegg Jesko          Price: $3.0 Million
26                                 Aspark Owl                 $3.1 Million
27                      Aston Martin Valkyrie          Price: $3.2 Million
28                  W Motors Lykan Hypersport          Price: $3.4 Million
29                              McLaren Solus                 $3.5 Million
30                        Pagani Huayra Evo R          $3.5 Million (est.)
31                           Lamborghini Sian          Price: $3.6 million
32                           Koenigsegg CC850          Price: $3.7 Million
33            Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34  Gordon Murray Automotive T.50s Niki Lauda                 $3.9 Million
35                  Pagani Huayra Roadster BC                 $4.0 Million
36                         Lamborghini Veneno          Price: $4.5 Million
37                             Bugatti Bolide          Price: $4.7 Million
38                  Pininfarina B95 Speedster          Price: $4.8 Million
39                            Bugatti Mistral          Price: $5.0 Million
40                               Bugatti Divo          Price: $5.8 Million
41                        Pagani Huayra Imola                 $6.0 Million
42                           Pagani Codalunga          Price: $7.4 Million
43                   Mercedes-Maybach Exelero          Price: $8.0 Million
44                         Bugatti Centodieci          Price: $9.0 Million
45                    Bugatti Chiron Profilée         Price: $10.8 Million
46                       Rolls-Royce Sweptail         Price: $12.8 Million
47                   Bugatti La Voiture Noire         Price: $13.4 Million
48                      Rolls-Royce Boat Tail  Price: $28.0 Million (est.)
49         Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)